.sideBarOuter {
  background-color: var(--DeepOceanBlue);
  color: var(--pureWhite);
  min-height: 100%;
  max-width: 232.5px;
  min-width: 232.5px;
  display: flex;
  flex-direction: column;
  position: relative;

  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Firm Details Css */
.firmDetailsDivOuter {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--ShadowStone);
  gap: 10px;
  padding: 0px 8px;
  min-height: 65px;
}
.firmLogoDiv {
  background-color: var(--blueB);
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.plusIconFirmLogo {
  color: var(--DeepCharcoal);
  cursor: pointer;
  position: absolute;
  background-color: var(--pureWhite);
  display: grid;
  place-items: center;
  place-content: center;
  border: 2px solid var(--DeepCharcoal);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  padding: 1px 0px 0px 0.8px;
  font-size: 12px;
  margin: -13px 0px 0px 25px;
}
.firmNameContDiv {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    display: block;
    font-size: 14px;
  }
}
.firmNameContDiv h4 {
  height: fit-content;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 8px;
  max-width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Sidebar Options css */
.optionsOuter {
  font-family: var(--Rob);
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.navLinkOuter {
}
.mainNavLinkCss {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left-width: 3.5px;
  border-left-style: solid;
  transition: all 0.25s ease;
  padding: 10px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
    svg {
      font-size: 18px;
    }
  }

  > svg:nth-child(2) {
    cursor: pointer;
    font-size: 13px;
    transition: all 0.25s ease;
  }
}
.childNavLinksOuterDiv {
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12.5px;
    padding: 8px 10px 8px 40px;
    transition: all 0.25s ease;
    font-weight: 400;
  }
  a > svg {
    font-size: 12px;
  }
}

/*  */
.navlinkMainItemDivOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlinkMainItemDivOuter > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 10px;

  h5 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
  }
  svg {
    font-size: 20px;
  }
}

.activeSidebarOptionDiv {
  cursor: default;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 0;
  padding: 0px 15px;
  border-left: solid 5px red;
  background-color: black;
}
.inActiveSidebarOptionDiv {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 0;
  padding: 0px 15px;
  transition: all 0.1s ease;
}
.inActiveSidebarOptionDiv:hover {
  background-color: black;
}
.optionsLeftSideDiv {
  display: flex;
  text-align: center;
  gap: 10px;
  padding: 7px;
  font-size: 16px;

  div:nth-of-type(1) {
    text-align: center;
    padding-top: 5px;
  }
}
.optionsRightSideIcons {
  display: grid;
  place-items: center;
  place-content: center;
}
.activeNestedOption {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 10px 25px;
  font-size: 14px;
  text-align: left;
  border-left: solid 5px red;
  background-color: black;
}
.inActiveNestedOption {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 10px 25px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
.nestedOptionsText {
  width: 100%;
  display: flex;
  gap: 30px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
