.navOuter {
  background-color: var(--greyB);
  color: var(--BlueBerry);
  display: flex;
  direction: row;
  align-items: flex-center;
  justify-content: space-between;
  height: 60px;
}
.navOptions {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-bottom: 4px solid var(--blueB);
  cursor: default;
}

/* Items Table file css */
.OuterDiv {
  width: 100%;
  height: 100%;
  background-color: var(--greyA);
}
.flexBoxDivCont {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 10px;
  min-height: 80vh;
}

/* Left Side Content Css */
.itemsLeftSideDiv {
  background-color: var(--pureWhite);
  box-shadow: var(--shadowC);
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  padding: 12px;
  min-height: 100%;
}
.addBtnDivOuter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    font-size: 36px;
    cursor: pointer;
  }
}
.addBtnCss {
  background-color: var(--VividOrange);
  color: var(--pureWhite);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
}
/* Left Side table css */
.miniSpinnerCss {
  font-size: 32px;
  margin: 130px auto;
  color: var(--greyA);
}
.leftSideTableCss {
  width: 100%;
  background: var(--pureWhite);
  margin-top: 12px;

  thead th {
    cursor: default;
    color: var(--greyA);
    align-items: center;
    padding: 8px 30px;
    border-bottom: 0.5px solid var(--greyC);
    border-top: 0.5px solid var(--greyC);
  }
  thead th:nth-of-type(2) {
    width: 40%;
  }
  tbody {
    cursor: default;
  }
  tbody tr:nth-child(even) {
    background-color: var(--greyishBlue);
  }
  tbody svg {
    cursor: pointer;
  }
  tbody tr td {
    padding: 8px 0px;
    border-radius: 3px;
  }
  tbody tr {
    transition: all 0.1s ease;
  }
  tbody tr:hover {
    background: rgb(235, 234, 234);
  }
  tbody tr td:nth-of-type(1) {
    padding: 0px 5px;
  }
  tbody tr td:nth-of-type(2) span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
  }
}

/* Right Side Content css */
.partiesRightSideDiv {
  background-color: var(--pureWhite);
  flex-grow: 1;
  padding: 12px;
  border-radius: 10px;
  min-height: 100%;
}
.PartyDetailsOuter {
  color: var(--greyD);
  cursor: default;
  width: 100%;
  font-size: 12px;
  padding: 3px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 0.5px solid var(--greyC);
  border-radius: 6px;

  h5 {
    font-size: 18px;
    margin: 5px 0px 10px;
  }
  p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.transactionHeadingContDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  margin-top: 18px;
  padding: 0px 6px;

  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}
.transactionHeadingContDiv input {
  border: 0.5px solid var(--greyC);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 6px;
}
.transactionHeadingContDiv input:focus {
  outline: none;
}
.tableContDiv {
  max-height: 54vh;
  overflow: auto;
}
.transactionTableCss {
  width: 100%;
  min-height: 100%;
  cursor: default;

  thead tr th div {
    color: var(--greyD);
    border: 0.5px solid var(--greyC);
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    padding: 3px 5px;
    font-size: 16px;
    font-weight: 500;
  }

  tbody {
    border: 0.5px solid var(--greyC);
    border-top: none;
    color: var(--greyD);
  }
  tbody tr {
    border: 0.5px solid var(--greyC);
    border-bottom: none;
  }
  tbody tr:nth-child(odd) {
    background-color: var(--greyishBlue);
  }
  tbody tr td {
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 400;
  }
}
#noDataCell {
  text-align: center;
  td {
    font-size: 16px;
  }
}
.rightSideTableSpinnerCss {
  color: var(--greyA);
  font-size: 40px;
  margin: 100px auto;
}
