.loaderOuter {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background: var(--overlayBg2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************
    Loader 1 Css 
*******************/
.loader1 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}
@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}

/******************
    Loader 2 Css 
*******************/
.loader2 {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: #fff;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
  font-family: var(--Rob);
}
.loader2::after,
.loader2::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #fff;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader2::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: white;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: white;
  }
}

/******************
    Loader 3 Css 
*******************/
.Loader3Outer {
  width: 100%;
  height: 100%;
  background: var(--overlayBg);
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-family: var(--Rob);

  h2 {
    padding: 0;
    margin: 0;
    color: var(--pureWhite);
    font-size: 16px;
    font-weight: 400;
    margin-top: 160px;
  }
}
.loader3 {
  width: 64px;
  height: 64px;
  position: absolute;
  background-image: linear-gradient(var(--pureWhite) 16px, transparent 0),
    linear-gradient(var(--VividOrangeRed) 16px, transparent 0),
    linear-gradient(var(--VividOrangeRed) 16px, transparent 0),
    linear-gradient(var(--pureWhite) 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: loading3Anim 1s linear infinite;
}
@keyframes loading3Anim {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
