.rename-model-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.24);
    font-family: "Poppins";
}

.rename-model-content {
    background-color: white;
    max-width: 500px;
    display: grid;
    gap: 10px;
    margin: auto;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 10px;
}

.rename-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(103, 116, 111);
    padding: 10px 40px;
    color: white;
}

.rename-top-bar-cross {
    font-size: 24px;
    color: red;
}

.rename-model-middle {
    padding: 10px 40px;
}

.rename-model-middle input {
    width: 100%;
    padding: 10px 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}
.rename-model-button {
    display: flex;
    justify-content: end;
    padding:0px 40px 20px 20px;
}

.rename-model-button button {
    background-color: rgb(41, 41, 255);
    color: white;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}