.purchase-container {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 250px;
    display: grid;
    gap: 12px;
}

.purchase-heading, .purchase-heading-aside1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0;
    gap: 5px;
}

.purchase-heading {
    gap: 20px;
    align-items: start;
}

.purchase-heading-aside1 {
    width: 100%;
    height: 100%;
}

.purchase-heading-aside1 div {
    font-size: 17px;
    font-weight: 400;
    justify-content: start;
    padding: 5px 0;
}

.purchase-amount-div {
    display: flex;
    align-items: center;
    justify-content: start;
}

.purchase-amount-div h3 {
    font-size: 22px;
}

.purchase-amount-div span {
    color: rgb(151, 151, 151);
    font-size: 14px;
}


.purchase-heading-notes {
    color: rgb(167, 233, 253);
    font-size: 22px;
    gap: 3px;
}

.purchase-heading-aside2 {
    width: 100%;
}

.purchase-month-div {
    display: flex;
    gap: 6px;
    background-color: rgba(184, 184, 184, 0.21);
    padding: 10px 20px;
    border-radius: 5px;
}

.purchase-month-div button {
    border: none;
    font-size: 14px;
}

.purchase-content {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
}

.purchase-content-aside2 {
    display: grid;
    align-items: end;
    padding-left: 10px;
    height: 100%;
    width: 100%;
}
.purchase-content-aside2 div {
    background-color: rgb(7, 189, 128);
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-content-aside2 p {
    font-size: 12px;
    color: rgb(95, 95, 95);
}

