.transactions-container {
   /* padding: 10px 10px 30px 10px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   */

   width: 100%;
   /* border: 1px solid black; */
   background: var(--pureWhite);
   /* margin: 10px; */
   padding: 10px 10px 30px 10px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

   margin-top: 10px;
   border-radius: 15px;
 
}

.transactions-buttons {
   padding: 20px 0;
   display: flex;
   justify-content: right;
   border-radius: 25%;
}

.transactions-buttons button {
   padding: 10px 10px;
   background-color: rgb(39, 39, 255);
   color: white;
   border: none;
   border-radius: 5px;
}

.transaction-tables table {
   /* border-collapse: collapse; */
   width: 100%;
}

.transaction-tables th,
.transaction-tables td {
   border: 1px solid gray; 
   padding: 8px; 
}

.transaction-tables {
   display: flex;
   /* border: solid 1px gray; */
   padding: 0 5px;
   justify-content: space-between;
   align-items: center;
   /* border-collapse: collapse;  */
   width: 100%;
}

.transaction-table {
   /* display: flex; */
   /* border: solid 0.5px gray; */
   border-radius: 5px;
   /* padding: 6px 0px 6px 3px; */
   font-size: 14px;
   /* justify-content: space-between; */
   width: 100%;
   color: gray; 
}
