.topNavOuter {
	width: 100%;
	background: var(--pureWhite);
	border-radius: 6px;
}
.navTopADiv {
	display: flex;
	flex-direction: row;
	gap: 15px;

	padding: 5px 5px;
}
.divContainingDateInps {
	cursor: default;
	display: flex;
	align-items: center;
	border: 0.5px solid var(--greyC);
	gap: 15px;
	overflow: hidden;
	border-radius: 4px;

	h3 {
		display: block;
		margin: 0;
		font-size: 12.5px;
		font-weight: 400;
		height: 100%;
		color: var(--pureWhite);
		background: var(--greyG);
		padding: 7.5px;
	}
}
.divContainingDateInps div {
	display: flex;
	align-items: center;
	gap: 3px;
	height: 100%;
	padding-right: 10px;

	p {
		margin: 0;
		font-size: 13px;
		font-weight: 300;
		padding: 0px 7.5px;
		color: var(--DeepBluishGrey);
	}
	input {
		cursor: pointer;
		font-size: 13px;
		font-weight: 500;
		color: var(--DeepBluishGrey);
		width: 100px;
	}
	input:focus {
		outline: none;
	}
}
.monthSelectTag {
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--DeepBluishGrey);
}
.monthSelectTag:focus {
	outline: none;
}
.headers {
    display: flex;
    background-color: rgb(232, 236, 236);
    padding-left: 1px;
    height: 40px;
    padding-top: 5px;
    color: rgb(158, 147, 147);
    
}