.invoice-select {
  background-color: transparent;
  width: 150px;
  border-width: 0px;
  font-size: 20px;
  font-weight: 600;
  outline: none;
}

.d-end {
  display: flex;
  justify-content: flex-end;
}

.d-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.invoice-select option {
  font-size: 16px;
}

.invoice-input {
  height: 32px;
}

.invoice-select2 {
  background-color: transparent;
  border-width: 2px;
  font-size: 15px;
  height: 35px;
  font-weight: 400;
  outline: none;
}

.grp-cont-invoice {
  padding: 16px 30px;
  box-shadow: 3px 1px 10px grey;
}

.add-sale-btn {
  padding: "8px 20px";
  border: "1px solid red";
}

.sales-form {
  background-color: rgb(249, 241, 241);
  height: 100vh;
}

.sales-form-head {
  background-color: white;
  padding: 10px;
  font-size: "20px";
  font-weight: "600";
  text-align: "center";
}

.head-cont {
  background-color: white;
}

.sale-select {
  height: 36px;
}

.mt-10 {
  margin-top: 16px;
}

.label-width {
  width: 150px;
}

.img-input {
  border: 1px solid grey;
  padding: 10px 20px;
}

.sales-row-btn {
  border: 1px solid blue;
  color: blue;
  border-radius: 2px;
  padding: 6px 12px;
  background-color: transparent;
}

.sales-btn1 {
  border: 1px solid blue;
  color: blue;
  padding: 12px 40px;
  border-radius: 4px;
  box-sizing: border-box;
}

.sales-btn2 {
  background-color: blue;
  color: white;
  padding: 12px 40px;
  border-width: 0px;
  border-radius: 4px;
  margin-right: 10px;
}

.payment-form {
  padding: 30px;
  width: 900px;
  box-sizing: border-box;
  box-shadow: 2px 4px 10px grey;
}

.payment-form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

/* label {
  font-weight: 600;
  display: inline-block;
  width: 150px;
}

input {
  padding: 0px 10px;
  border: 1px solid grey;
} */
