.OuterRP1 {
   margin: auto;
   background-color: white;
   padding: 20px;
   cursor: default;
}
.RP1Inner {
   margin: auto;
   width: 100%;
}
.showOrgText {
   text-align: right;
   font-size: 12.5px;
   font-weight: 200;
   color: var(--greyA);
   line-height: 10px;
}
.topOuterDiv {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom-width: 0.5px;
   border-bottom-style: solid;
   padding-bottom: 8px;
}
.topOuterLeftSideDiv {
   font-size: 14px;

   h1 {
      font-size: 18px;
      font-weight: 500;
      margin: 0px 0px 8px;
   }
   h2 {
      font-size: 14px;
      font-weight: 400;
      margin-top: -3px;
   }
}
.topOuterRightSideDiv {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   background-color: var(--greyB);
   color: var(--greyA);
   font-size: 16px;
   width: 100px;

   img {
      margin: auto;
      display: block;
      width: 100%;
      height: 100%;
   }

   div {
      height: 60px;
      display: grid;
      place-content: center;
      place-items: center;
   }
}
.printTypeHeadingText {
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   margin: 10px auto;
}

/* Upper Details outer */
.upperDetailsOuter {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 25px;

   div:nth-of-type(1) {
      width: 40%;
   }
}
.upperDetailsOuter h2 {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
}
.upperDetailsBoldHead {
   font-size: 15px;
   font-weight: 500;
   margin: 0px 0px 6px;
   padding: 0;
   line-height: 25px;

   span {
      white-space: nowrap;
   }
}
.invoiceDetailsDivOuter {
   min-width: 25%;
   text-align: right;

   h4 {
      font-size: 15px;
      font-weight: 400;
      /* white-space: nowrap; */
   }
}

/* Table Css */
.TableOuterDiv {
   width: 100%;
   margin: 15px auto 20px;

   table {
      width: 100%;
   }
   thead tr {
      font-size: 16px;
      font-weight: 200;
      border-top: 1px solid var(--SlateTranslucent);
      border-bottom: 1px solid var(--SlateTranslucent);
   }
   th {
      padding: 3px 0px;
   }
   tr {
      text-align: center;
   }
   .tableBottomRow {
      border-top: 1px solid var(--SlateTranslucent);
      border-bottom: 1px solid var(--SlateTranslucent);
   }
   .tableBottomRow td {
      padding: 3px 0px;
   }
}

/* Footer Css */
.FooterOuter {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.FooterLeftSideDivOuter {
   display: flex;
   flex-direction: column;
   width: 48.5%;
   gap: 15px;

   h2 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 12px;
   }
   h3 {
      font-size: 14px;
      font-weight: 400;
   }
}
.FooterRightSideDivOuter {
   width: 48.5%;
}
.invoiceStatsFooterOuter {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 4px;

   div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 6px;
   }

   h2 {
      font-size: 14.5px;
      font-weight: 400;
   }
}
#totalFooterOuter {
   display: flex;
   align-items: center;
   padding: 8px 5px 0px;
   margin: 0px 0px 8px;

   h2 {
      font-weight: 500;
      letter-spacing: 0.5px;
   }
}
.savedFooterCss {
   border-top: 0.5px solid var(--greyA);
   margin-top: -5px;

   h2 {
      margin-top: 15px;
      font-size: 15px;
      font-weight: 500;
   }
}
.SignOuterDiv {
   text-align: center;
   margin: 15px auto 0px;

   h2 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
   }

   h3 {
      font-size: 14.5px;
      font-weight: 500;
      margin-top: 15px;
   }
}
.signImgDivCss {
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   background-color: var(--greyB);
   color: var(--greyA);
   font-size: 16px;
   width: 100px;

   img {
      margin: auto;
      display: block;
      width: 100%;
      height: 100%;
   }

   div {
      height: 60px;
      display: grid;
      place-content: center;
      place-items: center;
   }
}

/* Acknowledgement Css */
.AcknowledgeOuter {
   width: 100%;
   border-top: 1px dashed var(--greyA);
   margin-top: 20px;
   padding-top: 18px;

   h2:nth-of-type(1) {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.5px;
   }
   h2:nth-of-type(2) {
      font-size: 26px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: capitalize;
   }
}
.acknBottomDivOuter {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   margin-top: 20px;

   ~ div {
      flex-grow: 1;
      text-align: left;
      width: 30%;
   }
}
.innerAckDiv h2 {
   font-size: 14px;
   font-weight: 400;
}
.innerAckDiv h3 {
   font-size: 16px;
   font-weight: 500;
}
.recieverSignOuterDiv {
   display: flex;
   align-items: flex-end;
   width: 30%;

   div {
      border-top: 1px dashed var(--greyA);
      padding-top: 5px;
      width: 100%;
      text-align: center;
   }
}
