.Outer {
  min-height: 100%;
  max-height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  overflow: auto;
}
.InnerDiv {
  cursor: default;
  font-family: var(--Rob);
}
.ImgContDiv {
  position: relative;
  overflow: hidden;
  margin: auto;
  display: grid;
  place-content: center;
  place-items: center;
  object-fit: cover;
  border-radius: 50px;
  height: 280px;
  width: 625px;
  margin-bottom: 30px;

  img {
    position: absolute;
    opacity: 0;
    object-fit: cover;
    animation: display 10s infinite;
  }
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 5s;
  }
  img:nth-child(4) {
    animation-delay: 8s;
  }
  img:nth-child(5) {
    animation-delay: 11s;
  }
}
.TextDivs {
  text-align: center;
  margin-top: 20px;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
    color: var(--ShadowStone);
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--greyI);
  }
}

.ChatBtnCss {
  margin: 20px auto 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--pureWhite);
  background: var(--WhatsAppGreen);
  box-shadow: var(--shadowD);
  gap: 7.5px;
  font-size: 17.5px;
  font-weight: 400;
  padding: 7.5px 20px;
  border-radius: 5px;
  transition: all 0.25s ease;

  svg {
    font-size: 20px;
  }
}
.ChatBtnCss:hover {
  background: var(--VividSpringGreen);
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
