.FormOuterParent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    background: var(--overlayBg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .rightSideUpperPart {
    display: flex;
    align-items: center;
    gap: 17.5px;
  }


.contentTableOuterDiv {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
  background: white;

    table {
      width: 100%;
    }
  
    table thead th {
      border: 1px solid var(--greyC);
      height: 40px;
    }
    table thead th div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13.5px;
      font-weight: 600;
      padding: 0px 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--greyA);
    }
    table tbody td {
      height: 40px;
      padding: 5px;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: 1px solid var(--greyC);
    }
    .actionDivContent {
      display: flex;
      align-items: center;
      gap: 12.5px;
      width: fit-content;
      margin: auto;
  
      svg {
        cursor: pointer;
        color: var(--greyD);
        transition: all 0.25s ease;
      }
      svg:hover {
        color: var(--DeepBluishGrey);
      }
    }
  }


