.HeaderContainer {
  background-color: var(--pureWhite);
  box-shadow: var(--shadowC);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  min-height: 65px;
  width: 100%;
}
/* Left Side Header */
.leftSideCont {
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 12px;
}
.searchIconCss {
  color: var(--greyA);
  font-size: 22px;
}
.headerSearchInp {
  font-family: var(--Rob);
  color: var(--DeepOceanBlue);
  font-size: 18px;
  letter-spacing: 0.2px;
}
.headerSearchInp::placeholder {
  color: var(--greyA);
}
.headerSearchInp:focus {
  outline: none;
}
.crossIconCss {
  cursor: pointer;
  color: var(--greyA);
  font-size: 20px;
}

/* Right Side Header */
.rightSideCont {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 18px;
}
.rightSideRouteBtnsDiv {
  height: 100%;
  display: flex;
  align-items: center;
  min-width: fit-content;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  div:nth-of-type(1) {
    width: 130px;

    button {
      background-color: var(--redE);
      color: var(--redB);
    }
  }
  div:nth-of-type(2) {
    width: 165px;

    button {
      background-color: var(--blueC);
      color: var(--blueD);
    }
  }
  div:nth-of-type(3) {
    width: 135px;

    button {
      background-color: var(--pureWhite);
      color: var(--blueD);
    }
  }
}
.rightSideRouteBtnsDiv button {
  font-family: var(--Rob);
  display: flex;
  align-items: center;
  font-size: 13.5px;
  font-weight: 500;
  gap: 7.5px;
  padding: 10px 18px;
  border-radius: 50px;
  box-shadow: var(--shadowD);

  svg {
    font-size: 20px;
  }
}
.rightSideRouteBtnsDiv button:hover {
  font-size: 14px;
  padding: 12px 18px;

  svg {
    font-size: 21px;
  }
}
.lastBtnDivOuter {
  height: 30px;
  border-left: 2px solid var(--greyC);
  display: flex;
  align-items: center;
  padding: 0px 13px 0px 20px;

  svg {
    cursor: pointer;
    color: var(--greyA);
    font-size: 23px;
  }
}

/* ############################# */
.HeaderSearchSection {
  width: 35%;
  display: flex;
}

.HeaderSearchbar {
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  border: solid 1px rgb(184, 184, 184);
  border-radius: 10px;
}

.HeaderSearchbarFocus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px 0 0 20px;
}

.HeaderSearchBtn {
  width: 100px;
  padding: 5px 20px;
  background-color: rgb(61, 61, 255);
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  font-size: 16px;
}

.HeaderButtonSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.HeaderBtnAside {
  display: flex;
  align-items: center;
  gap: 20px;
}

.HeaderBtnDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}
.HeaderBtnDiv p {
  padding-top: 5px;
}

.HeaderAddBtn {
  padding: 0 20px;
  margin: 10px 0;
  color: var(--pureWhite);
  size: 200px;
  border-radius: 35px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.HeaderAddSaleBtn {
  background-color: rgba(255, 41, 41, 0.1);
  color: rgb(248, 96, 96);
  font-weight: 900;
}

.HeaderAddPurchaseBtn {
  background-color: rgba(43, 43, 255, 0.4);
  color: blue;
  font-weight: 800;
}

.HeaderAddMoreBtn {
  color: rgb(43, 43, 255);
  font-weight: 800;

  /* border: solid 1px rgb(43, 43, 255); */
}

.HeaderPlusBtn {
  background-color: white;
  border-radius: 100%;
  padding: 3px;
  font-size: 22px;
}

.HeaderPlusBtnSale {
  color: rgb(242, 86, 86);
}

.HeaderPlusBtnPurchase {
  color: rgb(43, 43, 255);
}

.HeaderPlusBtnMore {
  color: white;
  background-color: rgb(43, 43, 255);
}

.HeaderLine {
  width: 2px;
  background-color: gray;
  height: 35px;
}

.HeadeSetting {
  font-size: 30px;
  color: gray;
}

@media print {
  .HeaderContainer {
    display: none;
  }
}
