.header {
    border: 5px solid rgb(237, 239, 240); /* Added border style */
    background-color: rgb(253, 250, 250);
    padding: 5px 5px;
    h3{
        padding-top: 10px;
    }
}

.navTopADiv {
    display: flex;
    align-items: center;
  
    border: 5px solid rgb(237, 239, 240);
  }
  .divContainingDateInps {
    cursor: default;
    display: flex;
    align-items: center;
    background-color: '#c5ebe7';
  padding:"10px 10px";
    overflow: hidden;
    border-radius: 4px;
  
    h3 {
      display: block;
      margin: 0;
      font-size: 12.5px;
      font-weight: 400;
      height: 100%;
      color: var(--pureWhite);
      background: var(--greyG);
      padding: 7.5px;
    }
  }
  .divContainingDateInps div {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 100%;
    padding-right: 10px;
  
    p {
      margin: 0;
      font-size: 13px;
      font-weight: 300;
      padding: 0px 7.5px;
      color: var(--DeepBluishGrey);
    }
    input {
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      color: #c5ebe7;
      width: 100px;
      margin:'10px 10px';
    }
    input:focus {
      outline: none;
    }
  }
