.FormOuterParent {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background: var(--overlayBg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.actualFormOuter {
  background-color: var(--pureWhite);
  width: 60%;
  max-height: 85%;
  min-height: 67.5%;
  border-radius: 10px;
  padding: 22px;
  display: flex;
  flex-direction: column;
}
.formHeaderOuterDiv {
  display: flex;
  justify-content: space-between;
  font-family: var(--Rob);
  border-bottom: 2px solid var(--greyF);
  padding: 0px 0px 14px;

  h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--DeepBluishGrey);
  }
  div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  div svg {
    cursor: pointer;
    font-size: 22px;
    color: var(--greyD);
  }
}

/* Input css */
.inputDiv {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
}
.input {
  border: 0.5px solid var(--greyC);
  background-color: transparent;
  z-index: 50;
  height: 35px;
  border-radius: 5px;
  width: 220px;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 400;
}
.input:focus {
  outline: none;
  border: 0.5px solid var(--blueB);
  z-index: 50;
}
.input:focus ~ .inactiveLabel {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  white-space: nowrap;
  width: fit-content;
  margin-left: 3px;
  font-size: 14px;
  margin-top: 36.5px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0px 5px;
  border-radius: 5px;
  color: var(--blueB);
  background-color: var(--pureWhite);
  transform: translateY(-45px) scale(0.9);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inactiveLabel {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  width: fit-content;
  z-index: 100;
  margin-left: 8px;
  font-size: 14px;
  margin-top: 34px;
  font-size: 13.5px;
  font-weight: 400;
  background-color: var(--pureWhite);
  color: var(--greyG);
  transform: translateY(-26.5px);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.activeLabel {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  white-space: nowrap;
  width: fit-content;
  margin-left: 3px;
  font-size: 14px;
  margin-top: 36.5px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0px 5px;
  border-radius: 5px;
  color: var(--blueB);
  background-color: var(--pureWhite);
  transform: translateY(-45px) scale(0.9);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Middle css */
.middleOuter {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}
.upperInpCont {
  margin: 35px auto 0px;
  display: flex;
  align-items: center;
  gap: 22.5px;
}
.changerOuterDiv {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--greyH);
}
.changerDivs {
  cursor: pointer;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding: 37.5px 15px 5px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
}

/* GST & Address */
.gstAddressOuter {
  width: 100%;
  display: flex;
  margin: 20px auto;
  gap: 25px;
}
.leftSideGstAddressDiv {
  display: flex;
  flex-direction: column;
  gap: 22.5px;
}
.rightSideGstAddressDiv {
  display: flex;
  border-left: 1px solid var(--greyH);
  padding: 0px 25px 0px;
  gap: 25px;

  h3 {
    cursor: pointer;
    margin-top: 10px;
    font-size: 13.5px;
    font-weight: 400;
  }

  textarea {
    height: 80px;
    padding-top: 6px;
  }
}

/* Credit & Balance */
.creditAndBalUpperInpDiv {
  display: flex;
  align-items: center;
  gap: 37.5px;
  margin-top: 27.5px;

  input {
    width: 280px;
  }
}
.creditLimitOuterDiv {
  margin-top: 17px;

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--DeepBluishGrey);
  }
}
.creditLimitOuterDiv > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 20px;
}
.creditLimitOuterDiv > div:nth-of-type(1) label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;

  input {
    cursor: pointer;
  }
}
.creditLimitOuterDiv .inputDiv {
  margin-top: 14px;

  input {
    width: 280px;
  }
}

/* Additional Fields */
.additionalFieldOuter {
  display: flex;
  flex-direction: column;
  gap: 27.5px;
  padding: 27.5px 0px;
}
.singleAddFieldContOuter {
  display: flex;
  align-items: center;
  gap: 20px;

  .inputDiv input {
    width: 250px;
  }
}
.singleAddFieldContOuter input[type="checkbox"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

/* Footer Css */
.footerOuter {
  background-color: var(--pureWhite);
  display: flex;
  flex-direction: row-reverse;
  border-top: 2px solid var(--greyF);
  padding-top: 20px;
}
.saveBtn {
  background-color: var(--blueB);
  color: var(--pureWhite);
  font-size: 14px;
  padding: 8.5px 0px;
  width: 110px;
  border-radius: 7px;
  font-weight: 400;
  transition: all 0.2s ease;
}
.saveBtn:hover {
  background-color: var(--ElectricBlue);
}
