.Outer {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: var(--pureWhite);
  padding: 10px;
}

/****************
** Content Css **
*****************/
.ContentOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 0px;
  background: var(--pureWhite);
  height: 69.75vh;
  overflow: auto;
  padding: 20px;
}
.childContentParentDiv {
  cursor: default;
  font-family: var(--Rob);
  margin-bottom: 20px;
  flex-grow: 1;

  > p:nth-of-type(1) {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--DeepBluishGrey);
  }
}
.contentTableOuterDiv {
  width: 100%;
  margin-top: 7.5px;

  thead {
    background: var(--greyC);
  }
  thead th div {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    padding: 7.5px 5px;
    white-space: nowrap;
    color: var(--greyD);
  }
  .upperTableHeader {
    text-align: center;
    div {
      height: 37.5px;
      display: grid;
      place-content: center;
      place-items: center;
    }
  }
  .lowerTableHeader {
    div {
      height: 37.5px;
      border: 1px solid var(--greyC);
      min-width: 170px;
    }
  }
  tbody td {
    text-align: left;
    /* overflow: hidden; */
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    /* border: 0.5px solid var(--greyC); */
    font-size: 12px;
    font-weight: 400;
    padding: 7.5px 5px;
    color: var(--ShadowStone);
  }
  tbody td:nth-child(odd) {
    border-right: 0.5px solid var(--greyC);
  }
  tbody td:nth-child(even) {
    border-right: 0.5px solid var(--greyC);
  }
  tbody tr:nth-child(even) {
    background: var(--greyishBlue);
  }
  h6 {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 500;
    padding: 7.5px 5px;
  }
}
.actionDivContent {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin: auto;

  svg {
    cursor: pointer;
    color: var(--greyD);
    transition: all 0.25s ease;
  }
  svg:hover {
    color: var(--DeepBluishGrey);
  }
}
.noDataDiv {
  font-family: var(--Rob);
  width: 100%;
  min-height: 80%;
  display: grid;
  place-content: center;
  place-items: center;
  cursor: default;

  p {
    padding: 0;
    margin: 0;
    font-size: 13.5px;
    font-weight: 400;
    color: var(--greyA);
  }
}

/* ============ */
@media print {
  .TableOuter {
    width: 100%;
    overflow-x: auto;
    rotate: 90;
    border: 1px solid blue;
    page-break-inside: avoid;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tbody,
  thead {
    border: 1px solid rgb(255, 0, 0);
    padding: 8px;
  }
}
