.tab-container {
  width: 350px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 15px 10px;
  background-color: #4b75f2;
  font-family: "Poppins", sans-serif;
}
.Container {
  width: 95%;
  margin: 15px auto 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.inputOuter {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  padding: 0px 12px;
  border-radius: 8px;
}
.inputOuter > input {
  border: none;
  height: 45px;
  flex-grow: 2;
  font-size: 16px;
}
.inputOuter > input:focus {
  outline: none;
}
.inputOuter > input::placeholder {
  font-size: 14px;
}
.input-icons {
  font-size: 22px;
  margin-left: 12px;
}
/* Submit Button Css */
.button {
  width: 100%;
  text-align: center;
}
.button > button {
  border: 1px solid red;
  margin: 12px auto 12px;
  width: fit-content;
  background-color: #043be0;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px 0;
  font-size: 16px;
}
.button > button:hover {
  background-color: #4b75f2;
}

.tab-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-width: 2px;
  border-color: #043be0;
  padding: 10px;
  /* background-color: gray; */
  color: white;
}

.tab-items {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-width: 1px, 0;
  border-color: #4b75f2;
}

.rounded-lg {
  border-radius: 0.5rem;
}
.bg-white {
  background-color: #fff;
}
.border {
  border-width: 1px;
}
.border-gray-400 {
  border-color: #cbd5e0;
}
.text-gray-800 {
  color: #2d3748;
}
.font-semibold {
  font-weight: 600;
}
.focus\:border-orange-500:focus,
.focus\:outline-none:focus {
  outline: 2px solid #f59e0b;
  outline-offset: 2px;
}

.input:focus {
  border-color: #0d2009;
}

/* .email{
    display: flex;
    flex-direction: column;
  }
  .companyName{
    display: flex;
    flex-direction: column;
  }
  .password{
    display: flex;
    flex-direction: column;
  } */

.react-icon {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 20px;
  color: gray;
}
.heading {
  color: #fff;
}

/* Add Business Css */
.addBusinessFormOuter {
  margin: 120px auto;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding: 50px;
  border-radius: 12px;
}
.formHeading {
  text-align: left;
  font-size: 34px;
  margin: 8px 0px 20px;
  font-family: Poppins;
}
.inputCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.inputCont > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--greyA);
  padding: 0px 0px 10px 0px;
  font-size: 18px;
  margin-top: 20px;
}
.inputCont > input:focus {
  outline: none;
}
.inputCont p {
  font-size: 14px;
  text-align: left;
  color: var(--greyA);
  margin-top: 10px;
}
.inputCont p > span {
  cursor: pointer;
  color: var(--redA);
  margin-left: 5px;
}
.addBtn {
  cursor: pointer;
  margin: -10px 0px 0px;
  background-color: var(--redB);
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-align: center;
  border: none;
  padding: 12px 30px;
}
.addBtn:hover {
  background-color: red;
}
/* 
.button {
  width: 100%;
  text-align: center;
}
.button > button {
  border: 1px solid red;
  margin: 12px auto 12px;
  width: fit-content;
  background-color: #043be0;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px 0;
  font-size: 16px;
}
.button > button:hover {
  background-color: #4b75f2;
}
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

*/
