.homeContainer {
   padding: 25px 0px;
   
}

.homeContainerDiv1,
.homeContainerDiv2 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   /* gap: 30px; */
}

.homeContainerDiv2 {
   padding-top: 20px;
}
