.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  margin-right: 10px;
}

/* drop down */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.navigation1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: #fff; */
  padding: 15px 30px;
  /* border-bottom: 3px solid #ffffff; */
  position: inherit;
  width: calc(100% - 2px);
}
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  padding: 15px 30px;
  border-bottom: 3px solid #ffffff;
  position: inherit;
  width: calc(100% - 2px);
}
.last {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

/* Style the label to look like a button */
.custom-button {
  background-color: rgb(144, 144, 209);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the file input to hide it and add a border */
#uploadInput {
  display: none;
  border: 2px solid #ccc;
  padding: 6px 12px;
  border-radius: 5px;
}

.container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Arrange items with space between */
}
.section {
  width: 30%; /* Adjust width as needed */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in the width */
  margin-bottom: 20px; /* Add some margin at the bottom for spacing */
}
