/* sidebar.module.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

#menu {
  background: #111827;
  width: 300px;
  height: 100%;
  position: fixed;
  color: #fff;
  overflow-y: auto;
}

#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 30px;
  border-bottom: 1px solid #253047;
  gap: 20px;
  justify-content: space-between;
}

.logo h2 {
  margin: 0;
  font-size: 1.5em;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLink {
  display: block;
  padding: 22px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: #34495e;
}

.navLink.active {
  background-color: yellow;
  color: #ffffff;
  border: 1px solid red;
}
