.addpurchase-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.addpurchase-tr {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid gray;
}

.addpurchase-td-1 {
    width: 200px;
}

.addpurchase-tr td  {
    border: 1px solid gray;
    padding: 10px;
    flex: 1;
}

.addpurchase-tr td:last-child {
    border-right: none;
}



.addpurchase-tr td select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.add-purchase-items-payment {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.add-purchase-items-payment-aside {
    flex: 1;
}

.add-purchase-items-payment-div {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
}

.add-purchase-items-payment-div select {
    padding: 8px;
    box-sizing: border-box;
}

.add-purchase-items-payment-div button {    
    background-color: transparent;
    border: 1px solid navajowhite;
    color: blue;
    padding: 8px;
    cursor: pointer;
}

.add-purchase-items-payment-div div {
    background-color: rgb(211, 211, 211);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: small;
}

.add-purchase-items-payment-div2 {
    align-items: center;
}

.add-purchase-items-payment-div-input {
    width: 40px;
    padding: 8px;
    box-sizing: border-box;
}

.add-purchase-items-payment-div-3 {
    display: flex;
    gap: 10px;
}

.add-purchase-items-payment-div-3 input {
    padding: 8px;
    box-sizing: border-box;
}
.rowInput{
    /* background-color: yellow; */
    border: none;
    padding: 10px;
    flex: 1;
    width: 130px;
}
