
.addpurchase-container {
    background-color: rgb(238, 238, 238);
    margin-top: 20px;
    padding: 10px 20px;
}

.addpurchase-section-top-section {
    display: flex;
    justify-content: space-between;
}

.addpurchase-section-top-section {
    padding: 30px 0;
}

.addpurchase-section-select {
    padding: 5px 10px;
    margin-right: 20px;
}

.addpurchase-section-top-section-select input {
    padding: 4px 10px;
}

.addpurchasebill-aside-items {
    display: flex;
    gap: 4px;
    padding: 10px 0;
}

.addpurchasebill-aside-items-p {
    border-bottom: 1px solid gray;
    width: 80px;
}

.addpurchasebill-aside-items-bill {
    color: gray;
}

.addpurchasebill-aside-items-bill-date {
    border: none;
    background-color: white;
}

.addpurchasebill-aside-items-bill-select {
    padding: 4px 10px;
}

.addpurchase-footer {
    background-color: white;
    display: flex;
    justify-content: end;
    padding: 10px;
    gap: 10px;
}

.addpurchase-footer select {
    padding: 10px 20px;
}
.addpurchase-footer select option {
    padding: 10px 20px;
}

.addpurchase-footer button {
    padding: 10px 40px;
    background-color: rgb(15, 15, 255);
    border: none;
    color: white;
    border-radius: 10px;
}
