.EditableOuter {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  box-shadow: var(--shadowB);
  background: var(--pureWhite);
  border-radius: 6px;
}
.inputContDiv {
  height: 100%;
  width: 15%;
  display: grid;
  place-content: center;
  place-items: center;

  select {
    cursor: pointer;
  }
}
.inputCss {
  height: 100%;
  width: 100%;
  border: 0.5px solid var(--greyC);
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  padding: 0px 5px;
  border-radius: 2.5px;
}
.inputCss:focus {
  outline: none;
  border: 0.5px solid var(--greyA);
}
.BtnCont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;

  button {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 2px;
    border-radius: 2.5px;
    color: var(--pureWhite);
  }
}
.updateBtn {
  background: var(--EmeraldGreen);
}
.deleteBtn {
  background: var(--redA);
}

/************
** OLD CSS **
*************/
.transaction-tables.edit-mode {
  position: relative;
  background-color: var(--pureWhite);
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: larger;
  margin: 20px 0;
  transition: box-shadow 0.3s ease, margin 0.3s ease;
}
.transaction-tables.edit-mode:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.transaction-tables.edit-mode input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.transaction-tables.edit-mode button {
  background: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.transaction-tables.edit-mode button.cancel {
  background: #f44336;
}
.transaction-tables.edit-mode p {
  font-weight: bold;
  color: #333;
}
