* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --blueA: blue;
  --blueB: #098df9;
  --BlueBerry: #4b75f2;
  --SereneSky: #abc0ff;
  --ElectricBlue: #043be0;
  --violetA: rgb(6, 17, 139);
  --bluishGrey: #b8cbdc;
  --deepForest: #353f3e;
  --pureWhite: #fff;
  --greyA: grey;
  --greyB: rgb(234, 234, 234);
  --greyC: rgb(200, 200, 200);
  --greyD: rgb(108, 108, 108);
  --mistyGrey: #e4e4e4;
  --greyishBlue: rgb(241, 245, 247);
  --redA: red;
  --redB: rgb(252, 44, 44);
  --redC: rgb(248, 85, 85);
  --redD: rgb(247, 65, 65);
  --yellowA: rgb(255, 204, 0);
  --VividOrange: #ff8a00;
  --overlayBg: rgba(0, 0, 0, 0.377);
  --overlayBg2: rgba(0, 0, 0, 0.544);
  --DeepCharcoal: #111827;
  --SlateTranslucent: rgba(25, 25, 25, 0.274);

  /* Box Shadows */
  --shadowA: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  --shadowB: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --shadowC: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  /* Fonts */
  --Pop: "Poppins", sans-serif;
  --Ral: "Raleway", sans-serif;
  --Rob: "Roboto", sans-serif;
  --Ver: "Verdana", sans-serif;
  --Gill: "Gill Sans", sans-serif;
  --Rom: "Times", "Times New Roman", serif;
  --Cur: Apple Chancery, cursive;
  --Free: FreeMono, monospace;
}

#App {
  font-family: var(--Pop);
  background-color: var(--greyB);
  overflow: auto;
}

@media print {
  @page {
    size: 210mm 297mm;
  }
}

/* Scroll Css */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--greyA);
  border-radius: 50px;
}
::-webkit-scrollbar {
  width: 6px;
}

.app-page-div {
  display: flex;
  margin-top: 35px;
}
.app-sidebar {
  max-width: 300px;
  width: 230px;
  background-color: var(--deepForest);
  color: var(--pureWhite);
  height: 100vh;
  padding: 10px 0;
  padding-bottom: 50px;
  position: fixed;
  left: 0;
  overflow-y: auto;
}
.app-Home {
  width: 100%;
  flex-grow: 1;
}

.home-layout {
  display: flex;
  /* background: #a09f9f; */
  background-color: var(--mistyGrey);
}

.header-div-fixed {
  position: fixed;
  width: 85%;
  background-color: white;
  margin-left: 230px;
  z-index: 10;
  top: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.outlet-layout {
  margin-left: 230px;
  margin-top: 50px;
}

.app-home-section {
  margin-right: 300px;
}

.app-right-sidebar {
  position: fixed;
  right: 0;
  overflow-y: scroll;
  height: 100vh;

  padding: 20px 0 50px 0;
}
